<p style ="text-align:center">
    <img src="http://epecora.com.br/DataFiles/BannerUFPR.png" width="700" alt="PPGOLD/PPGMNE Python:INTRO"  />
</p>

## Prof. Eduardo Pécora, Ph.D.


# **Pandas: Agrupamento de Dados**

Neste notebook cobriremos os seguintes tópicos:

1. [Agrupamento de dados](#oper)

<a id="data"></a>
# **Leitura de Dados**

A leitura de dados é o primeiro passo em qualquer fluxo de trabalho de análise de dados. O Pandas facilita a importação de dados de várias fontes e formatos para um DataFrame, que é a estrutura de dados principal utilizada ao longo da análise.

**Arquivos CSV**

O formato CSV (Comma-Separated Values) é um dos formatos de dados mais comuns, utilizado amplamente para armazenar dados tabulares.

In [16]:
import pandas as pd

nba_file = "https://raw.githubusercontent.com/EduPekUfpr/PythonProject/refs/heads/main/Dados/nba.csv" #caminho do arquivo

df_nba = pd.read_csv(nba_file)
print(df_nba.head())  # Exibe as primeiras 5 linhas do DataFrame

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

## Agrupamento de Dados

Para análises mais avançadas, muitas vezes é necessário agrupar e agregar dados.

In [17]:
#varias funções de agregação podem ser utilizadas, como mean(), count(), sum(), min(), max(), etc.

#PG = Point guard
#SG = Shooting guard
#SF = Small Forward
#PF = Power Forward
#C = Center

df_grouped = df_nba.groupby(['Position'])['Salary'].mean() # Média de todos os valores de salário para uma mesma posição
df_grouped

Position
C     5.967052e+06
PF    4.562483e+06
PG    5.077829e+06
SF    4.857393e+06
SG    4.009861e+06
Name: Salary, dtype: float64

In [18]:
df_grouped = df_nba.groupby(['Position'])['Salary'].count() # Conta de todos os valores de salário para uma mesma posição
df_grouped

Position
C     78
PF    97
PG    88
SF    84
SG    99
Name: Salary, dtype: int64

### Pivot Table

In [39]:
pd.pivot_table(df_nba, values=["Age"], index=["Team"], columns=["Position"], aggfunc='mean')

                              Age
Position                        C         PF         PG         SF         SG
Team
Atlanta Hawks           28.333333  28.250000  24.500000  29.000000  29.500000
Boston Celtics          25.000000  26.333333  24.000000  25.000000  24.000000
Brooklyn Nets           27.000000  24.750000  27.666667        NaN  24.666667
Charlotte Hornets       25.666667  29.000000  26.666667  22.000000  25.200000
Chicago Bulls           33.000000  24.800000  29.000000  24.000000  28.750000
Cleveland Cavaliers     28.333333  30.000000  27.333333  33.000000  30.000000
Dallas Mavericks        29.666667  31.250000  31.500000  27.500000  25.500000
Denver Nuggets          22.000000  27.000000  27.333333  27.000000  25.750000
Detroit Pistons         28.000000  28.500000  27.500000  22.750000  25.500000
Golden State Warriors   28.333333  29.500000  29.000000  25.800000  28.000000
Houston Rockets         30.000000  23.250000  27.000000  26.333333  29.250000
Indiana Pacers          28.500000  24.000000  27.750000  26.666667  26.000000
Los Angeles Clippers    27.000000  28.333333  31.000000  29.500000  30.666667
Los Angeles Lakers      26.666667  25.000000  25.666667  31.750000  29.000000
Memphis Grizzlies       31.000000  29.000000  25.600000  28.000000  31.333333
Miami Heat              26.000000  32.500000  26.500000  29.000000  26.666667
Milwaukee Bucks         26.500000  23.000000  25.250000  24.666667  24.000000
Minnesota Timberwolves  25.333333  29.500000  22.000000  29.333333  21.000000
New Orleans Pelicans    29.333333  26.666667  26.750000  27.000000  25.600000
New York Knicks         27.000000  26.000000  28.500000  27.000000  27.250000
Oklahoma City Thunder   28.000000  28.333333  24.000000  26.333333  27.500000
Orlando Magic           25.500000  26.250000  26.000000  23.000000  22.666667
Philadelphia 76ers      21.000000  26.600000  25.000000  23.500000  23.500000
Phoenix Suns            26.000000  28.500000  26.750000  27.000000  21.666667
Portland Trail Blazers  29.000000  21.333333  27.500000  24.000000  24.400000
Sacramento Kings        24.666667  24.000000  29.000000  29.250000  26.250000
San Antonio Spurs       34.250000  32.500000  33.666667  23.000000  31.250000
Toronto Raptors         23.333333  30.250000  26.000000  24.666667  24.500000
Utah Jazz               25.000000  24.000000  23.250000  26.666667  23.500000
Washington Wizards      30.666667  30.000000  27.500000  25.500000  27.250000

In [35]:
pd.pivot_table(df_nba, values=["Age"], index=["College","Team"], columns=["Position"], aggfunc='count')

                               Age
Position                         C   PF   PG   SF   SG
College   Team
Alabama   Cleveland Cavaliers  NaN  NaN  1.0  NaN  NaN
          Memphis Grizzlies    NaN  1.0  NaN  NaN  NaN
          New Orleans Pelicans NaN  NaN  NaN  1.0  NaN
Arizona   Brooklyn Nets        NaN  NaN  NaN  NaN  1.0
          Cleveland Cavaliers  NaN  1.0  NaN  1.0  NaN
...                             ..  ...  ...  ...  ...
Wisconsin Houston Rockets      NaN  NaN  NaN  1.0  NaN
          Phoenix Suns         NaN  1.0  NaN  NaN  NaN
          Sacramento Kings     NaN  1.0  NaN  NaN  NaN
Wyoming   Los Angeles Lakers   NaN  1.0  NaN  NaN  NaN
Xavier    San Antonio Spurs    NaN  1.0  NaN  NaN  NaN

[363 rows x 5 columns]

## Fique Conectado

- [![YouTube](https://img.icons8.com/?size=40&id=19318&format=png&color=000000)](https://www.youtube.com/@LigaDataScience/videos)  
  Explore nossos vídeos educacionais e webinars sobre ciência de dados, machine learning e inteligência artificial. Inscreva-se para não perder nenhuma atualização!

- [![LinkedIn](https://img.icons8.com/?size=40&id=13930&format=png&color=000000)](https://www.linkedin.com/company/liga-data-science-ufpr/)  
  Siga-nos no LinkedIn para as últimas novidades, oportunidades de carreira e networking profissional no campo da ciência de dados.

- [![Instagram](https://img.icons8.com/?size=40&id=32323&format=png&color=000000)](https://www.instagram.com/ligadatascience/)  
  Confira nosso Instagram para conteúdos dos bastidores, destaques de eventos e o dia a dia da Liga Data Science. Faça parte da nossa jornada!
  
  ## Autores

<a href="https://www.linkedin.com/in/eduardopecora/" target="_blank">Eduardo Pecora</a>

<a href="https://www.linkedin.com/in/jo%C3%A3o-gabriel-santin-botelho-618244222/" target="_blank">João Gabriel Santin Botelho</a>

## Log de modificações

| Data | Versão | Modificado por | Descrição |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 29-08-2024       | 1.0     | Eduardo Pecora & João Gabriel| Inicial               |

<hr>

## <h3 align="center"> (c) Liga Data Science/ UFPR 2024. All rights reserved. <h3/>